################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldInTypeScript/.vs/HelloWorldInTypeScript/v15
/HelloWorldInTypeScript/HelloWorldInTypeScript/bin
/HelloWorldInTypeScript/HelloWorldInTypeScript/obj/Debug
/HelloWorldInTypeScript/packages
/HelloWorldInTypeScript/HelloWorldInTypeScript/Scripts/HelloWorld.js.map
/HelloWorldInTypeScript/HelloWorldInTypeScript/Scripts/HelloWorld.js
/VariablesAndMethodsSample/.vs/VariablesAndMethodsSample/v15
/VariablesAndMethodsSample/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7
/VariablesAndMethodsSample/packages/Microsoft.Net.Compilers.2.1.0
/VariablesAndMethodsSample/VariablesAndMethodsSample/bin
/VariablesAndMethodsSample/VariablesAndMethodsSample/obj/Debug
/Variables/.vs/Variables/v15
/Variables/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7
/Variables/packages/Microsoft.Net.Compilers.2.1.0/tools
/Variables/packages/Microsoft.Net.Compilers.2.1.0
/Variables/Variables/bin
/Variables/Variables/obj/Debug
*.js
*.map
/ClassesAndMethods/.vs
/ClassesAndMethods/ClassesAndProperties/bin
/ClassesAndMethods/ClassesAndProperties/obj/Debug
/ClassesAndMethods/packages
/ExtendingClass/.vs
/ExtendingClass/ExtendingClass/bin
/ExtendingClass/ExtendingClass/obj/Debug
/ExtendingClass/packages
/ImplementingInterface/.vs/ClassesAndMethods/v15
/ImplementingInterface/.vs/ClassesAndProperties/v15
/ImplementingInterface/.vs/ExtendingClass/v15
/ImplementingInterface/.vs/ImplementingInterface/v15
/ImplementingInterface/ImplementingInterface/bin
/ImplementingInterface/ImplementingInterface/obj/Debug
/ImplementingInterface/packages
/ImplementingInterface/.vs/config/applicationhost.config
/AnonymousClassesAndMethods/.vs/AnonymousClasses/v15
/AnonymousClassesAndMethods/.vs
/AnonymousClassesAndMethods/AnonymousClasses/bin
/AnonymousClassesAndMethods/AnonymousClasses/obj/Debug
/AnonymousClassesAndMethods/packages
/GenericsSample/.vs
/GenericsSample/GenericsSample/bin
/GenericsSample/GenericsSample/obj/Debug
/GenericsSample/packages
/AnonymousClasses/.vs
/AnonymousClasses/AnonymousClasses/bin
/AnonymousClasses/AnonymousClasses/obj/Debug
/AnonymousClasses/packages
/ClassesAndProperties/.vs/config
/ClassesAndProperties/ClassesAndProperties/bin
/ClassesAndProperties/ClassesAndProperties/obj/Debug
